<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <!-- 引入页面描述和关键字模板 --> 
  <title>列表</title> 
  <meta name="description" content="杂谈，思想的闪光
" /> 
  <meta name="keywords" content="" /> 
  <!-- 网站图标 --> 
  <link rel="shortcut icon" href="images/favicon.ico" /> 
  <!-- 禁止浏览器初始缩放 --> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" /> 
  <!-- 引入主题样式表 --> 
  <link rel="stylesheet" type="text/css" href="css/style.css" /> 
  <!-- 引入主题响应式样式表--> 
  <link rel="stylesheet" type="text/css" href="css/responsive.css" /> 
  <!-- 引入自定义样式表 --> 
  <link rel="stylesheet" type="text/css" href="css/custom.css" />  
  <!-- 引入字体样式表--> 
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="all" /> 


  <style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style> 
  <script type="text/javascript" src="js/jquery.min.js?ver=4.3.6"></script> 

  <script type="text/javascript" src="js/lazyload.js"></script> 
  <!-- IE Fix for HTML5 Tags --> 
  <!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<script src="js/PIE_IE678.js"></script>
<link rel="stylesheet" type="text/css" href="css/iefix.css"  media="all" />
<![endif]--> 
  <!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="css/font-awesome-ie7.min.css"  media="all" />
<![endif]--> 
  <!--[if IE 6]>
<script src="js/kill-IE6.js"></script>
<![endif]--> 
 </head> 
 <body id="wrap" class="archive category category-talk category-154"> 
  <!-- Nav --> 
  <!-- Moblie nav--> 
  <div id="body-container"> 
   <aside id="navmenu-mobile"> 
    <div id="navmenu-mobile-wraper"> 
     <div class="mobile-login-field"> 
      <div id="login-box-mobile"> 
       <div class="login-box-mobile-form"> 
        <button data-sign="0" class="btn btn-primary user-login">登录</button> 
        <button data-sign="1" class="btn btn-success user-reg">注册</button> 
       </div> 
      </div> 
     </div> 
     <ul id="menu-mobile" class="menu-mobile">
      <li id="menu-item-4324" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-4324"><a href="http://www.iydu.net">首页</a></li> 
      <li id="menu-item-4316" class="menu-item menu-item-type-taxonomy menu-item-object-category current-category-ancestor current-menu-ancestor current-menu-parent current-category-parent menu-item-has-children menu-item-4316"><a href="http://www.iydu.net/deepreading">深阅读</a> 
       <ul class="sub-menu"> 
        <li id="menu-item-4317" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-4317"><a href="lists.html?talk">七嘴八舌</a></li> 
        <li id="menu-item-4320" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4320"><a href="lists.html?prose">心灵花园</a></li> 
        <li id="menu-item-4318" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4318"><a href="lists.html?history">史海拾贝</a></li> 
        <li id="menu-item-4321" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4321"><a href="lists.html?read">读书书语</a></li> 
        <li id="menu-item-4322" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4322"><a href="lists.html?science">鲜活科学</a></li> 
        <li id="menu-item-4421" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4421"><a target="_blank" href="http://btmovie.net/category/appreciation">光影赏析</a></li> 
       </ul> </li> 
      <li id="menu-item-4305" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-4305"><a href="http://www.iydu.net/shallowreading">浅阅读</a> 
       <ul class="sub-menu"> 
        <li id="menu-item-4314" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4314"><a href="http://www.iydu.net/shallowreading/vision">新视野</a></li> 
        <li id="menu-item-4315" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4315"><a href="http://www.iydu.net/shallowreading/phenomena">浮世绘</a></li> 
       </ul> </li> 
      <li id="menu-item-4302" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4302"><a href="http://www.iydu.net/series">强文连载</a></li> 
      <li id="menu-item-4304" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-4304"><a href="http://www.iydu.net/interest">有料</a> 
       <ul class="sub-menu"> 
        <li id="menu-item-4311" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4311"><a href="http://www.iydu.net/interest/encouragement">能量加油站</a></li> 
        <li id="menu-item-4310" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4310"><a href="http://www.iydu.net/interest/humorous">冷笑话精选</a></li> 
       </ul> </li> 
      <li id="menu-item-5019" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5019"><a target="_blank" href="http://qianshao.iydu.net">钱哨</a></li> 
      <li id="menu-item-5018" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5018"><a href="http://www.iydu.net/liuyan">留言簿</a></li> 
     </ul>
    </div> 
   </aside> 
   <!-- /.Moblie nav --> 
   <section id="content-container" style="background:#f1f4f9; "> 
    <header class="header-wrap" id="nav-scroll"> 
     <div class="nav-wrap"> 
      <div class="logo-title"> 
       <a href="http://www.iydu.net" alt="云悦读" title="云悦读"> 云悦读 </a> 
      </div> 
      <!-- Toggle menu --> 
      <div class="toggle-menu"> 
       <i class="fa fa-bars"></i> 
      </div> 
      <!-- /.Toggle menu --> 
      <!-- Search button --> 
      <div class="search-btn-click"> 
       <i class="fa fa-search"></i> 
       <div class="header-search-slide"> 
        <form method="get" id="searchform-slide" class="searchform" action="http://www.iydu.net" role="search"> 
         <input type="search" class="field" name="s" value="" placeholder="Search" required="" /> 
        </form> 
       </div> 
      </div> 
      <!-- /.Search button --> 
      <!-- Login status --> 
      <div id="login-reg"> 
       <span data-sign="0" id="user-login" class="user-login ie_pie only-login"> 登录</span> 
      </div> 
      <!-- /.Login status --> 
      <!-- Focus us --> 
      <div id="focus-us">
        关注我们
       <div id="focus-slide" class="ie_pie"> 
        <div class="focus-title">
         关注我们
        </div> 
        <p class="focus-content"> <a href="http://weibo.com/iydu" target="_blank" class="sinaweibo"><span><i class="fa fa-weibo"></i>新浪微博</span></a> <a href="http://t.qq.com/iydu_net" target="_blank" class="sinaweibo"><span><i class="fa fa-tencent-weibo"></i>腾讯微博</span></a> </p> 
        <div class="focus-title">
         联系我们
        </div> 
        <p class="focus-content" style="line-height: 20px;margin-bottom: 10px;"> <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=55002834&amp;site=qq&amp;menu=yes" target="_blank" class="qq"><span><i class="fa fa-qq"></i>QQ</span></a> <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=RnNzdnZ0fnVyBjc3aCUpKw" target="_blank"><span><i class="fa fa-envelope"></i>发送邮件</span></a> 
         <!-- 可删除 --> <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=5be294c49da03845dbea3c774294f7da4c2cc682cf43f98c543118c1193403f6"><i class="fa fa-users">&nbsp;&nbsp;</i>加入QQ群</a> 
         <!-- 删除截止 --> </p> 
        <div class="focus-title">
         订阅本站
         <i class="fa fa-rss"></i>
        </div> 
        <p class="focus-content"> <input type="text" name="rss" class="rss" value="http://www.iydu.net/feed" /> </p> 
        <p class="focus-content">订阅到： <a rel="external nofollow" target="_blank" href="http://xianguo.com/subscribe?url=http://www.iydu.net/feed">鲜果</a> <a rel="external nofollow" target="_blank" href="http://reader.youdao.com/b.do?keyfrom=bookmarklet&amp;url=http://www.iydu.net/feed">有道</a> <a rel="external nofollow" target="_blank" href="http://feedly.com/index.html#subscription%2Ffeed%2Fhttp://www.iydu.net/feed">Feedly</a></p> 
        <form action="http://list.qq.com/cgi-bin/qf_compose_send" target="_blank" method="post"> 
         <input type="hidden" name="t" value="qf_booked_feedback" /> 
         <input type="hidden" name="id" value="http://list.qq.com/cgi-bin/qf_invite?id=a14dea03f30a87ef45020939d38f0a063282dd05c2349cc2" /> 
         <input type="email" name="to" id="to" class="focus-email" placeholder="输入邮箱,订阅本站" required="" /> 
         <input type="submit" class="focus-email-submit" value="订阅" /> 
        </form> 
       </div> 
      </div> 
      <!-- /.Focus us --> 
      <!-- Menu Items Begin --> 
      <nav id="primary-navigation" class="site-navigation primary-navigation " role="navigation"> 
       <div class="menu-%e9%a1%b6%e9%83%a8%e8%8f%9c%e5%8d%95-container">
        <ul id="menu-%e9%a1%b6%e9%83%a8%e8%8f%9c%e5%8d%95" class="nav-menu">
         <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-4324"><a href="http://www.iydu.net">首页</a></li> 
         <li class="menu-item menu-item-type-taxonomy menu-item-object-category current-category-ancestor current-menu-ancestor current-menu-parent current-category-parent menu-item-has-children menu-item-4316"><a href="http://www.iydu.net/deepreading">深阅读</a> 
          <ul class="sub-menu"> 
           <li class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-4317"><a href="lists.html?talk">七嘴八舌</a></li> 
           <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4320"><a href="lists.html?prose">心灵花园</a></li> 
           <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4318"><a href="lists.html?history">史海拾贝</a></li> 
           <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4321"><a href="lists.html?read">读书书语</a></li> 
           <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4322"><a href="lists.html?science">鲜活科学</a></li> 
           <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4421"><a target="_blank" href="http://btmovie.net/category/appreciation">光影赏析</a></li> 
          </ul> </li> 
         <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-4305"><a href="http://www.iydu.net/shallowreading">浅阅读</a> 
          <ul class="sub-menu"> 
           <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4314"><a href="http://www.iydu.net/shallowreading/vision">新视野</a></li> 
           <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4315"><a href="http://www.iydu.net/shallowreading/phenomena">浮世绘</a></li> 
          </ul> </li> 
         <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4302"><a href="http://www.iydu.net/series">强文连载</a></li> 
         <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-4304"><a href="http://www.iydu.net/interest">有料</a> 
          <ul class="sub-menu"> 
           <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4311"><a href="http://www.iydu.net/interest/encouragement">能量加油站</a></li> 
           <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4310"><a href="http://www.iydu.net/interest/humorous">冷笑话精选</a></li> 
          </ul> </li> 
         <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5019"><a target="_blank" href="http://qianshao.iydu.net">钱哨</a></li> 
         <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5018"><a href="http://www.iydu.net/liuyan">留言簿</a></li> 
        </ul>
       </div> 
      </nav> 
      <!-- Menu Items End --> 
     </div> 
     <div class="clr"></div> 
     <div class="site_loading"></div> 
    </header> 
    <div class="hidefixnav"></div> 
    <!-- End Nav --> 
    <script type="text/javascript">
	$('.site_loading').animate({'width':'33%'},50);  //第一个进度节点
</script>
    <div class="breadcrumbs"> 
     <div class="container clr"> 
      <div class="header-search"> 
       <form method="get" id="searchform" class="searchform" action="http://www.iydu.net" role="search"> 
        <input type="search" class="field" name="s" value="" id="s" placeholder="Search" required="" /> 
        <button type="submit" class="submit" id="searchsubmit"><i class="fa fa-search"></i></button> 
       </form> 
      </div> 
      <div id="breadcrumbs">
       <h1><i class="fa fa-folder-open"></i> 分类文章</h1> 
       <div class="breadcrumbs-text">
        <a href="http://www.iydu.net" title="阅读使人自由">主页</a>&nbsp;&raquo;&nbsp;七嘴八舌 - 杂谈，思想的闪光 
       </div> 
      </div> 
     </div> 
    </div>
    <!-- Header Banner --> 
    <!-- /.Header Banner --> 
    <!-- Main Wrap --> 
    <div id="main-wrap"> 
     <div id="home-blog-wrap" class="container two-col-container"> 
      <div id="main-wrap-left"> 
       <div class="bloglist-container clr"> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5148.html" title="只做一件事，还是同时做几件事？" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/themes/tinection/images/random/30.jpg?imageView2/1/w/375/h/250/q/100" alt="只做一件事，还是同时做几件事？" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5148.html" title="只做一件事，还是同时做几件事？">只做一件事，还是同时做几件事？</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>2周前 (09-26)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 3</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5148.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 专业化这个问题困扰着很多人：是只做一件事好，还是同时做很多事好？ 很多人都在做投资，李嘉诚投很多，巴菲特也投很多，GE（通用电气）也投很多。有些人就想，那我也投。 我认为，大家应该相信一点：专业化的企业越做越省心，多元化的企业越做越辛苦。 不管是专业化的企业还是多元化的企业，实际上都是想多赚钱。多元化的企业或者还考虑到规避风险。 到底谁盈利更多？这其实是算不准的。 目前全世界市值较高的公司，有专业<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5148.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5143.html" title="懂事的孩子没糖吃" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/uploads/2016/09/kongrongrangli.jpg?imageView2/1/w/375/h/250/q/100" alt="懂事的孩子没糖吃" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5143.html" title="懂事的孩子没糖吃">懂事的孩子没糖吃</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>2周前 (09-22)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 16</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5143.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 什么叫做“懂事”？我活了快四十一年了还没弄懂。要我说，起码得有一本《懂事手册》，详尽列举各种行为，明确告诉我什么是懂事，什么是不懂事。意会从来不是一件好事，定义模糊本身就是使诈，为了所谓的“灵活性”，因为如何定义懂事权力在评价者的手里。这样的话，懂事与否全看需要而定，弹性的棍子才能打死人。 我最早接触“懂事”的概念还是个孩子，老师给我们讲《孔融让梨》的故事。孔融是个懂事的孩子，因为懂得把梨让给其它<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5143.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5130.html" title="中产阶级式恐慌" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/uploads/2016/09/zhongchanjieji.png?imageView2/1/w/375/h/250/q/100" alt="中产阶级式恐慌" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5130.html" title="中产阶级式恐慌">中产阶级式恐慌</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>3周前 (09-13)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 25</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5130.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 中产阶级最的恐慌来自跌穿自身阶层，落入社会底层的想象。无论这种想象是一种真实的可能，还是全无根据的臆想。在过去，这种恐惧表现为“失去单位”。所有中产阶级都在某种单位的庇护之下，所以失去了单位，去广州贩卖牛仔裤蛤蟆镜和录音机是不可想象的事情。解决的办法主要是修辞学，如果说“失去”是痛苦的，也是被动的行为，那么“下海”就有一种度假的感觉，也比较偏中性，含有主动选择的意味；“下岗”则是一种明确暗示，单位<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5130.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5128.html" title="董小姐的更年期与王健林的尴尬症" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/uploads/2016/09/dmzwjl.jpg?imageView2/1/w/375/h/250/q/100" alt="董小姐的更年期与王健林的尴尬症" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5128.html" title="董小姐的更年期与王健林的尴尬症">董小姐的更年期与王健林的尴尬症</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>4周前 (09-12)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 36</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5128.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 我一夜没睡，看了苹果公司最新的发布会。手中的IPhone6拿起来，又放下，又拿起来。想摔，又不忍，反反复复。但想到还没有男朋友，最终打消了摔手机的念头。万一摔了却没有摔坏，还得捡起来接着用，岂不是大写的尴尬。 有时候，我也会纳闷，苹果到底有什么好，让多少果粉沉迷其中，简直就是邪教！拆姐相信，纠结这个问题的还有一位姐界的前辈，我们亲爱的董小姐：格力董事长董明珠。 把摔手机摔出霸道总裁范儿的，我只服董<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5128.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5126.html" title="无法和巫术告别的中国" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/uploads/2016/09/wushu.jpg?imageView2/1/w/375/h/250/q/100" alt="无法和巫术告别的中国" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5126.html" title="无法和巫术告别的中国">无法和巫术告别的中国</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>4周前 (09-12)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 18</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5126.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 巫术的起源 人类最早的知识分子是巫师。巫术应该在人类有文字很久之前就开始了。大部分文明的文字都是巫师创造的。 最早的文字于五千多年前产生于西亚两河流域的古苏美尔地区，早期内容都是人们向巫师和庙宇捐献财物的记录。紧接其后的古埃及，早期的埃及王很多都有巫师身份，早期文字也有不少巫术记载。 巫术在早期人类社会的兴起是因为人们已经意识到的天地气候都变幻莫测、生命生死无常，而自己的力量又是如此有限，因此希望<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5126.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5121.html" title="大理，被中产阶级吞噬的文艺小镇" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/uploads/2016/09/dali.jpeg?imageView2/1/w/375/h/250/q/100" alt="大理，被中产阶级吞噬的文艺小镇" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5121.html" title="大理，被中产阶级吞噬的文艺小镇">大理，被中产阶级吞噬的文艺小镇</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>1个月前 (09-01)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 21</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5121.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 雨绵绵地下过古城，人民路上有我的好心情。 一无所有，诗歌，远方，曾经的大理几乎集结了文艺需要的所有元素。每个偶然路过的诗人，画家，民谣歌手，都忍不住浑身一颤，掉落满身的文艺细胞，感叹上一句，大理，真是一个好得不像话的地方。 大批文艺青年，比如我这样的，当即拍案而起，闻讯前去，赶在一切还没丧心病狂之前，以一种最文艺的方式，端着廉价云南小粒咖啡，坐在某个院子大树下，躺平，瘫好，迫不及待拍下一组蓝天白云<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5121.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5111.html" title="实名制助推隐私泄露" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/uploads/2016/08/identity.jpg?imageView2/1/w/375/h/250/q/100" alt="实名制助推隐私泄露" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5111.html" title="实名制助推隐私泄露">实名制助推隐私泄露</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>1个月前 (08-28)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 26</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5111.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 近期，山东临沂农村的18岁大学新生徐玉玉被诈骗电话骗走9900元学费，导致呼吸心脏骤停最终去世。就在同一天，与徐玉玉家相隔不远的大一女生小芹也遭遇了电信诈骗，骗走6800元。此前，同在临沂的临沭县大二学生宋振宁在连续遭遇电信诈骗后，心脏骤停，近日不幸去世。 大规模城市化之前，中国是个熟人社会，居民不太相信熟人圈子以外的陌生人，与外界的交流也很少，其个人信息也很少会流转到圈外，骗子无法在圈子外面完成<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5111.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5105.html" title="我们不能只有女烈士和名媛" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/uploads/2016/08/langping1.jpg?imageView2/1/w/375/h/250/q/100" alt="我们不能只有女烈士和名媛" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5105.html" title="我们不能只有女烈士和名媛">我们不能只有女烈士和名媛</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>1个月前 (08-23)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 17</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5105.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 是不是有种感觉：觉得郎平很牛，但又说不很准确她牛在哪儿？ 这么说吧，成功、出名本来就难，对于女人尤其不容易，因为留给她们的出路太少。有这么一段时间，我们的名女人里好像最多的就只有两种：女烈士或者名媛。 所谓女烈士，就是刚强悍勇，像《水浒》里的那些个猛妹子一样，随时准备替天行道、为梁山大业牺牲生命的。很长一个时期里，我们能看见的被表彰的名女人都是这种。 就像母夜叉孙二娘、母大虫顾大嫂，没有性别，除了<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5105.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5102.html" title="20年来最差奥运成绩，中国体育要摆脱举国模式了吗？" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/uploads/2016/08/fuyuanhui.jpg?imageView2/1/w/375/h/250/q/100" alt="20年来最差奥运成绩，中国体育要摆脱举国模式了吗？" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5102.html" title="20年来最差奥运成绩，中国体育要摆脱举国模式了吗？">20年来最差奥运成绩，中国体育要摆脱举国模式了吗？</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>2个月前 (08-23)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 16</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5102.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 里约奥运会结束了。里约路途遥远，很少有人能到里约看奥运。由于时差关系，很多比赛的直播都在深夜，这也影响了它在公众中的传播。在微博上，王宝强离婚这一件事的流量，几乎相当于奥运会关注度的一半。但是，对中国人来说，里约奥运很有可能是意义复杂的奥运。如何总结本届奥运会，对90后网友和国家体育总局来说，可能都是一件困难的事。 里约奥运，金牌数量明显减少 最明显的是，中国奥运会的金牌数大为减少。2008年北京<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5102.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5096.html" title="【专题】王宝强离婚了，傻根怒了" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/uploads/2016/08/wangbaoqiang.jpg?imageView2/1/w/375/h/250/q/100" alt="【专题】王宝强离婚了，傻根怒了" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5096.html" title="【专题】王宝强离婚了，傻根怒了">【专题】王宝强离婚了，傻根怒了</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>2个月前 (08-18)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 22</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5096.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 2016年8月14日凌晨，王宝强发离婚声明，称“无法容忍恶意背叛婚姻、破坏家庭”，指责妻子马蓉与经纪人宋喆存在不正当两性关系，并宣布解除与妻子马蓉的婚姻关系，同时解除宋喆的经纪人职务。 事件迅速发酵，成为网络热点话题，其热度一度盖过了奥运会，令人瞠目。云悦读摘选了部分文字形成一个专题，带大家深入了解“傻根”之怒。 各篇文字内容不同，角度各异，甚至连观点都会对立，但也是希望能够丰富大家思维的维度。<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5096.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5094.html" title="里约2016：中国国民犯了被害妄想症？" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/uploads/2016/08/fuyuanhui.png?imageView2/1/w/375/h/250/q/100" alt="里约2016：中国国民犯了被害妄想症？" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5094.html" title="里约2016：中国国民犯了被害妄想症？">里约2016：中国国民犯了被害妄想症？</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>2个月前 (08-17)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 20</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5094.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 这是一届场外比场内更精彩的奥运会。无论远在巴西的赛场上发生了什么，只要通过网络、媒体传进中国的舆论场里，就会生产出大量引发情绪与口水的话题。有人愤怒，有人反对愤怒，有人反对不愤怒——无论是国旗、裁判还是兴奋剂，对立情绪充斥着舆论场，一言不合就开撕。 在当下的舆论环境下，选择翻译这篇话题争议、观点尖锐、笔调一点不客气的BBC专栏，得冒着挨喷的风险。好在我们的使命并不是迎合谁谁，我们用翻译介绍外面的各<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5094.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5091.html" title="“葛优躺”何以成为一种流行？" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/uploads/2016/08/geyoutang.jpg?imageView2/1/w/375/h/250/q/100" alt="“葛优躺”何以成为一种流行？" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5091.html" title="“葛优躺”何以成为一种流行？">“葛优躺”何以成为一种流行？</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>2个月前 (08-15)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 23</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5091.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 一副面黄肌瘦的模样，懒散而颓废地躺在一张靠背和座椅相垂直的双座老式沙发上。身体与沙发座椅、沙发靠背之间，横切面俨然是一个直角三角形。后背悬空，只剩下肩部和腰部做受力点。再配上一副眼神放空、生无可恋的表情..... 这是“葛优躺”。 葛优或许不会想到，他23年前在情景剧《我爱我家》扮演的一个小人物“季春生”会突然被翻出来，还被玩坏了。 为何“葛优躺”会成为一种流行？这幅颓废的画面为何会戳中我们？ 曾<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5091.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5077.html" title="万众创业，其实是骗局" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/uploads/2016/07/chuangye.jpg?imageView2/1/w/375/h/250/q/100" alt="万众创业，其实是骗局" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5077.html" title="万众创业，其实是骗局">万众创业，其实是骗局</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>2个月前 (07-25)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 57</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5077.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 为什么国家会提倡万众创业?因为社会就业压力变大，只能这样号召，马云曾说：“我基本不响应政府的号召，原因是什么?你必须判断这样下去，政府在十年以后一定会做这件事情，所以你现在先把它做起来，等政府一号召，没机会了，成千上万涌上来，你基本就死掉了。政府一号召赶紧换地方，这叫远见。市场也是一样的，你必须判断在市场之前。” 创业从来都不是一件容易的事情，创业者95%的公司都会倒下，互联网公司的平均寿命只有3<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5077.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5075.html" title="爱不爱国，有条“金线”你知道吗？" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/uploads/2016/07/aiguozei.png?imageView2/1/w/375/h/250/q/100" alt="爱不爱国，有条“金线”你知道吗？" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5075.html" title="爱不爱国，有条“金线”你知道吗？">爱不爱国，有条“金线”你知道吗？</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>3个月前 (07-19)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 34</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5075.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 我有个朋友叫唐岩，他早些年在一家大型门户网站当总编，有次脑筋一抽，做了牛逼的选题：《下辈子你还当中国人么？》让大家投票……那时候门户网站影响力可比今天高多了，几十万上百万人投票结果好像是90%以上不打算继续当中国人啦！霍霍，这可惹恼了“有关部门”，一纸令下，唐岩被离职，且全中国媒体圈不得再录用此人，没办法，这家伙只好“被创业”，创办陌陌，干了三年，美国上市，成为年轻的亿万富豪，这是后话。 我想说的<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5075.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
        <article class="home-blog-entry col span_1 clr"> 
         <a href="http://www.iydu.net/5072.html" title="怎样做一个得体的中年人" class="fancyimg home-blog-entry-thumb"> 
          <div class="thumb-img"> 
           <img src="http://www.iydu.net/wp-content/uploads/2016/07/zhongnianshenghuo.png?imageView2/1/w/375/h/250/q/100" alt="怎样做一个得体的中年人" /> 
           <span><i class="fa fa-pencil"></i></span> 
          </div> </a> 
         <div class="home-blog-entry-text clr"> 
          <h3> <a href="http://www.iydu.net/5072.html" title="怎样做一个得体的中年人">怎样做一个得体的中年人</a> </h3> 
          <!-- Post meta --> 
          <div class="meta"> 
           <span class="postlist-meta-time"><i class="fa fa-calendar"></i>3个月前 (07-08)</span> 
           <span class="postlist-meta-views"><i class="fa fa-fire"></i>浏览: 30</span> 
           <span class="postlist-meta-comments"><i class="fa fa-comments"></i><a href="http://www.iydu.net/5072.html#comments"><span>评论: </span>0</a></span> 
          </div> 
          <!-- /.Post meta --> 
          <p> 你在年少时幻想过成人世界，幻想那里能解决所有的问题。不再因为得到和失去而牵肠挂肚，不再有起伏不定的心情和人生，你的手指终于能够按在世界的操控器上。你相信中年会有成熟，正如你相信老年带来智慧一样。 然而等你终于闯入了成人的世界，却发现那里的问题之多远甚往日。是的，也许痛苦稍微得以缩减，但是纠结却与日俱增，灵魂和肠胃一起扭成一团。你步入中年之城，那里依旧兵荒马乱，欲望如岩浆地火喷涌，并没有传说中的成熟<a rel="nofollow" class="more-link" style="text-decoration:none;" href="http://www.iydu.net/5072.html"></a></p> 
         </div> 
         <div class="clear"></div> 
        </article> 
       </div> 
       <!-- pagination --> 
       <div class="clear"> 
       </div> 
       <div class="pagination"> 
        <span class="pg-item pg-item-current"><span class="current">1</span></span>
        <span class="pg-item"><a href="lists.html?talk/page/2" title="浏览第2页" class="navbutton">2</a></span>
        <span class="pg-item"><a href="lists.html?talk/page/3" title="浏览第3页" class="navbutton">3</a></span>
        <span class="pg-item"> ... </span>
        <span class="pg-item"><a href="lists.html?talk/page/23" title="末页" class="navbutton">23</a></span>
        <span class="pg-item pg-nav-item pg-next"><a href="lists.html?talk/page/2" title="下一页" class="navbutton">下一页</a></span>
       </div> 
       <!-- /.pagination --> 
      </div> 
      <script type="text/javascript">
	$('.site_loading').animate({'width':'55%'},50);  //第二个节点
</script> 
      <div id="sidebar" class="clr"> 
       <div id="text-15" class="widget widget_text">
        <h3><span class="widget-title">云悦读QQ空间</span></h3> 
        <div class="textwidget">
         <div align="center">
          <a target="_blank" href="http://55002834.qzone.qq.com"><img id="previewImg" src="images/login-logo-black.32.png" /></a>
         </div> 
        </div> 
       </div>
       <div id="search-3" class="widget widget_search">
        <h3><span class="widget-title">站内搜索</span></h3>
        <form method="get" class="searchform themeform" action="http://www.iydu.net/"> 
         <div> 
          <input type="text" class="search" name="s" onblur="if(this.value=='')this.value='Search..';" onfocus="if(this.value=='Search..')this.value='';" value="Search.." maxlength="20" required="required" /> 
         </div> 
        </form>
       </div> 
       <div id="tinsubscribe-2" class="widget widget_tinsubscribe"> 
        <h3><span class="widget-title">邮件订阅</span></h3> 
        <span id="subscribe-span"> <input type="text" name="subscribe" id="subscribe" placeholder="yourname@domain.com" /><button id="subscribe" class="btn btn-success">订阅</button> <p id="subscribe-msg" style="display:none;margin-top:5px;margin-left:auto;margin-right:auto;font-size:12px;color:#f00;"></p> </span> 
       </div> 
      
       <div id="tintagcloud-2" class="widget widget_tintagcloud"> 
        <h3><span class="widget-title">标签云</span></h3> 
        <aside class="tags">
         <a href="http://www.iydu.net/tag/%e9%a5%ae%e9%a3%9f" class="tag-link-675" title="26个话题" style="font-size: 12px;">饮食</a> 
         <a href="http://www.iydu.net/tag/%e9%9d%92%e6%98%a5" class="tag-link-355" title="20个话题" style="font-size: 12px;">青春</a> 
         <a href="http://www.iydu.net/tag/%e9%9a%8f%e7%ac%94" class="tag-link-30" title="10个话题" style="font-size: 12px;">随笔</a> 
         <a href="http://www.iydu.net/tag/%e9%98%85%e8%af%bb" class="tag-link-324" title="41个话题" style="font-size: 12px;">阅读</a> 
         <a href="http://www.iydu.net/tag/%e8%bf%9e%e8%bd%bd" class="tag-link-936" title="52个话题" style="font-size: 12px;">连载</a> 
         <a href="http://www.iydu.net/tag/%e8%b4%a2%e5%af%8c" class="tag-link-1011" title="7个话题" style="font-size: 12px;">财富</a> 
         <a href="http://www.iydu.net/tag/%e8%af%bb%e5%90%8e%e6%84%9f" class="tag-link-211" title="28个话题" style="font-size: 12px;">读后感</a> 
         <a href="http://www.iydu.net/tag/%e8%af%bb%e4%b9%a6" class="tag-link-1012" title="5个话题" style="font-size: 12px;">读书</a> 
         <a href="http://www.iydu.net/tag/%e8%af%ad%e5%bd%95" class="tag-link-991" title="47个话题" style="font-size: 12px;">语录</a> 
         <a href="http://www.iydu.net/tag/%e8%a7%86%e9%87%8e" class="tag-link-941" title="32个话题" style="font-size: 12px;">视野</a> 
         <a href="http://www.iydu.net/tag/%e8%a7%82%e7%82%b9" class="tag-link-176" title="76个话题" style="font-size: 12px;">观点</a> 
         <a href="http://www.iydu.net/tag/%e8%a7%81%e9%97%bb" class="tag-link-703" title="70个话题" style="font-size: 12px;">见闻</a> 
         <a href="http://www.iydu.net/tag/%e8%81%8c%e5%9c%ba" class="tag-link-512" title="15个话题" style="font-size: 12px;">职场</a> 
         <a href="http://www.iydu.net/tag/%e7%ab%a5%e5%b9%b4" class="tag-link-222" title="12个话题" style="font-size: 12px;">童年</a> 
         <a href="http://www.iydu.net/tag/%e7%a7%bb%e5%8a%a8%e4%ba%92%e8%81%94%e7%bd%91" class="tag-link-120" title="12个话题" style="font-size: 12px;">移动互联网</a> 
         <a href="http://www.iydu.net/tag/%e7%a7%91%e6%8a%80" class="tag-link-164" title="6个话题" style="font-size: 12px;">科技</a> 
         <a href="http://www.iydu.net/tag/%e7%a7%91%e5%ad%a6" class="tag-link-585" title="17个话题" style="font-size: 12px;">科学</a> 
         <a href="http://www.iydu.net/tag/%e7%a4%be%e4%bc%9a" class="tag-link-22" title="87个话题" style="font-size: 12px;">社会</a> 
         <a href="http://www.iydu.net/tag/%e7%94%9f%e6%b4%bb" class="tag-link-140" title="90个话题" style="font-size: 12px;">生活</a> 
         <a href="http://www.iydu.net/tag/%e7%88%b1%e6%83%85" class="tag-link-55" title="43个话题" style="font-size: 12px;">爱情</a> 
         <a href="http://www.iydu.net/tag/%e6%bc%94%e8%ae%b2" class="tag-link-235" title="6个话题" style="font-size: 12px;">演讲</a> 
         <a href="http://www.iydu.net/tag/%e6%b8%b8%e8%ae%b0" class="tag-link-937" title="11个话题" style="font-size: 12px;">游记</a> 
         <a href="http://www.iydu.net/tag/%e6%ae%b5%e5%ad%90" class="tag-link-51" title="86个话题" style="font-size: 12px;">段子</a> 
         <a href="http://www.iydu.net/tag/%e6%9d%82%e8%b0%88" class="tag-link-158" title="235个话题" style="font-size: 12px;">杂谈</a> 
         <a href="http://www.iydu.net/tag/%e6%97%85%e8%a1%8c" class="tag-link-816" title="7个话题" style="font-size: 12px;">旅行</a> 
         <a href="http://www.iydu.net/tag/%e6%96%87%e5%8c%96" class="tag-link-153" title="48个话题" style="font-size: 12px;">文化</a> 
         <a href="http://www.iydu.net/tag/%e6%95%a3%e6%96%87" class="tag-link-934" title="35个话题" style="font-size: 12px;">散文</a> 
         <a href="http://www.iydu.net/tag/%e6%95%99%e8%82%b2" class="tag-link-671" title="15个话题" style="font-size: 12px;">教育</a> 
         <a href="http://www.iydu.net/tag/%e6%95%85%e4%ba%8b" class="tag-link-956" title="20个话题" style="font-size: 12px;">故事</a> 
         <a href="http://www.iydu.net/tag/%e6%8a%80%e5%b7%a7" class="tag-link-976" title="5个话题" style="font-size: 12px;">技巧</a> 
         <a href="http://www.iydu.net/tag/%e6%84%9f%e6%82%9f" class="tag-link-220" title="139个话题" style="font-size: 12px;">感悟</a> 
         <a href="http://www.iydu.net/tag/%e6%83%85%e6%84%9f" class="tag-link-131" title="77个话题" style="font-size: 12px;">情感</a> 
         <a href="http://www.iydu.net/tag/%e6%80%9d%e7%bb%aa" class="tag-link-988" title="8个话题" style="font-size: 12px;">思绪</a> 
         <a href="http://www.iydu.net/tag/%e5%bf%83%e6%83%85" class="tag-link-178" title="10个话题" style="font-size: 12px;">心情</a> 
         <a href="http://www.iydu.net/tag/%e5%bd%b1%e8%af%84" class="tag-link-95" title="150个话题" style="font-size: 12px;">影评</a> 
         <a href="http://www.iydu.net/tag/%e5%a9%9a%e5%a7%bb" class="tag-link-348" title="11个话题" style="font-size: 12px;">婚姻</a> 
         <a href="http://www.iydu.net/tag/%e5%9b%9e%e5%bf%86" class="tag-link-223" title="24个话题" style="font-size: 12px;">回忆</a> 
         <a href="http://www.iydu.net/tag/%e5%95%86%e4%b8%9a" class="tag-link-917" title="8个话题" style="font-size: 12px;">商业</a> 
         <a href="http://www.iydu.net/tag/%e5%8e%86%e5%8f%b2%e4%ba%ba%e7%89%a9" class="tag-link-173" title="64个话题" style="font-size: 12px;">历史人物</a> 
         <a href="http://www.iydu.net/tag/%e5%8e%86%e5%8f%b2" class="tag-link-75" title="108个话题" style="font-size: 12px;">历史</a> 
         <a href="http://www.iydu.net/tag/%e5%8a%b1%e5%bf%97" class="tag-link-299" title="7个话题" style="font-size: 12px;">励志</a> 
         <a href="http://www.iydu.net/tag/%e5%89%a7%e8%af%84" class="tag-link-874" title="18个话题" style="font-size: 12px;">剧评</a> 
         <a href="http://www.iydu.net/tag/%e5%86%b7%e7%ac%91%e8%af%9d" class="tag-link-46" title="86个话题" style="font-size: 12px;">冷笑话</a> 
         <a href="http://www.iydu.net/tag/%e5%81%a5%e5%ba%b7" class="tag-link-581" title="21个话题" style="font-size: 12px;">健康</a> 
         <a href="http://www.iydu.net/tag/%e4%ba%ba%e7%94%9f" class="tag-link-113" title="151个话题" style="font-size: 12px;">人生</a> 
         <a href="http://www.iydu.net/tag/%e4%ba%ba%e7%89%a9" class="tag-link-730" title="61个话题" style="font-size: 12px;">人物</a> 
         <a href="http://www.iydu.net/tag/%e4%ba%b2%e6%83%85" class="tag-link-91" title="16个话题" style="font-size: 12px;">亲情</a> 
         <a href="http://www.iydu.net/tag/%e4%ba%92%e8%81%94%e7%bd%91" class="tag-link-38" title="60个话题" style="font-size: 12px;">互联网</a> 
         <a href="http://www.iydu.net/tag/%e4%b9%a6%e8%af%84-2" class="tag-link-32" title="119个话题" style="font-size: 12px;">书评</a> 
         <a href="http://www.iydu.net/tag/it-2" class="tag-link-37" title="57个话题" style="font-size: 12px;">IT</a>
        </aside> 
       </div> 
       <div id="tinbookmark-2" class="widget widget_tinbookmark"> 
        <h3><span class="widget-title">友情链接</span></h3> 
        <div class="tinbookmark">
         <ul>
          <li class="tinbookmark-list list-left"><i class="fa fa-angle-right"></i><a href="http://www.platoism.com" title="柏拉图" target="_blank">柏拉图</a></li>
          <li class="tinbookmark-list list-right"><i class="fa fa-angle-right"></i><a href="http://www.21cncn.com/" title="青年说" target="_blank">青年说</a></li>
          <li class="tinbookmark-list list-left"><i class="fa fa-angle-right"></i><a href="http://zatime.com/" title="杂时代" target="_blank">杂时代</a></li>
          <li class="tinbookmark-list list-right"><i class="fa fa-angle-right"></i><a href="http://shulaquan.com/" title="书啦圈" target="_blank">书啦圈</a></li>
          <li class="tinbookmark-list list-left"><i class="fa fa-angle-right"></i><a href="http://www.lailianzi.com" title="练字网" target="_blank">练字网</a></li>
          <li class="tinbookmark-list list-right"><i class="fa fa-angle-right"></i><a href="http://www.listenfog.com/" title="听雾读书" target="_blank">听雾读书</a></li>
          <li class="tinbookmark-list list-left"><i class="fa fa-angle-right"></i><a href="http://www.liuyuanw.com/forum.php" title="柳苑文学" target="_blank">柳苑文学</a></li>
          <li class="tinbookmark-list list-right"><i class="fa fa-angle-right"></i><a href="http://www.wutu.info" title="於菟阅读博客" target="_blank">於菟阅读博客</a></li>
          <li class="tinbookmark-list list-left"><i class="fa fa-angle-right"></i><a href="http://fanhcy.com/" title="饭后茶娱" target="_blank">饭后茶娱</a></li>
          <li class="tinbookmark-list list-right"><i class="fa fa-angle-right"></i><a href="http://lusongsong.com/daohang/html/YunNan_138.htm" title="博客大全" target="_blank">博客大全</a></li>
          <li class="tinbookmark-list list-left"><i class="fa fa-angle-right"></i><a href="http://www.chinadmoz.org/" title="DMOZ目录" target="_blank">DMOZ目录</a></li>
         </ul>
        </div> 
       </div> 
       <div id="text-12" class="widget widget_text"> 
        <div class="textwidget">
         <script type="text/javascript">
    (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
            s.charset = "utf-8";
            s.async = true;
            s.src = "http://a.alimama.cn/tkapi.js";
            h.insertBefore(s, h.firstChild);
        };
        var o = {
            pid: "mm_31202157_7418138_30178413",/*推广单元ID，用于区分不同的推广渠道*/
            appkey: "",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
            unid: "",/*自定义统计字段*/
            type: "click" /* click 组件的入口标志 （使用click组建必设）*/
        };
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
    })(window,document);
</script> 
         <p align="center"><a data-type="3" data-tmpl="320x250" data-tmplid="187" data-rd="2" data-style="2" data-border="1" href="#"></a></p> 
        </div> 
       </div>
       <div id="text-14" class="widget widget_text"> 
        <div class="textwidget">
         <p><a href="http://iydu.100xuexi.com/" target="_blank"><img src="images/20150928153704_4466.jpg" alt="" /></a></p> 
        </div> 
       </div> 
       <div id="tinsitestatistic-3" class="widget widget_tinsitestatistic"> 
        <ul> 
         <li>日志总数：<span>1934</span> 篇</li> 
         <li> 评论总数：<span>628</span> 条</li> 
         <li>标签数量：<span>64</span> 个</li> 
         <li>链接总数：<span>11</span> 个</li> 
         <li>建站日期：<span>2013-04-05</span></li> 
         <li>运行天数：<span>1281</span> 天</li> 
         <li>最后更新：<span>2016-9-30</span></li> 
        </ul> 
        <div class="clear"></div> 
       </div> 
       <div id="meta-3" class="widget widget_meta">
        <h3><span class="widget-title">小编管理</span></h3> 
        <ul> 
         <li><a href="http://www.iydu.net/wp-login.php">登录</a></li> 
         <li><a href="http://www.iydu.net/feed">文章<abbr title="Really Simple Syndication">RSS</abbr></a></li> 
         <li><a href="http://www.iydu.net/comments/feed">评论<abbr title="Really Simple Syndication">RSS</abbr></a></li> 
         <li><a href="https://cn.wordpress.org/" title="基于WordPress，一个优美、先进的个人信息发布平台。">WordPress.org</a></li> 
        </ul> 
       </div>
       <div class="floatwidget-container"> 
       </div> 
      </div> 
      <script type="text/javascript">
	$('.site_loading').animate({'width':'78%'},50);  //第三个节点
</script>
     </div> 
    </div> 
    <!--/.Main Wrap --> 
    <!-- Bottom Banner --> 
    <div style="height:50px;"></div> 
    <!-- /.Bottom Banner --> 
    <!-- Footer --> 
    <!-- Footer Wrap --> 
    <div class="separator"></div> 
    <div id="footer-wrap"> 
     <div id="footer" class="layout-wrap"> 
      <!-- Footer Widgets --> 
      <div id="footer-widgets"> 
      </div> 
      <div class="clr"></div> 
      <!-- /.Footer Widgets --> 
     </div> 
    </div> 
    <!-- /.Footer Wrap --> 
    <!-- Footer Nav Wrap --> 
    <footer id="footer-nav-wrap"> 
     <div id="footer-nav" class="layout-wrap"> 
      <div id="footer-nav-left"> 
       <!-- Footer Nav --> 
       <!-- /.Footer Nav --> 
       <!-- Copyright --> 
       <div id="footer-copyright">
        &copy; 2013 - 2016 
        <a target="_blank" rel="nofollow" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=53230102000151" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="images/beiantubiao.png" style="float:left;" />滇公网安备 53230102000151号</a>&nbsp;|&nbsp;Theme by&nbsp; 
        <a href="http://www.zhiyanblog.com/tinection.html" target="_blank">Tinection</a>. &nbsp;|&nbsp; &nbsp;|&nbsp;
        <a href="http://www.miitbeian.gov.cn/" target="_blank">滇ICP备14001375号-1</a> 
        <!--53 queries in 1.843 seconds.--> 
       </div> 
       <!-- /.Copyright --> 
      </div> 
      <div id="footer-nav-right"> 
       <!--  links --> 
       <div id="footer-links-icons"> 
        <span class="footer-wordpress-link"> <a href="http://wordpress.org" target="_blank" rel="nofollow" class="wordpress"> <span class="tinicon-wordpress"><i class="fa fa-wordpress"></i></span> <br />WordPress </a> </span> 
        <span class="footer-sinaweibo-link"> <a href="http://weibo.com/iydu" target="_blank" rei="nofollow" class="sinaweibo"> <span class="tinicon-sinaweibo"><i class="fa fa-weibo"></i></span> <br />Weibo </a> </span> 
        <span class="footer-qq-link"> <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=55002834&amp;site=qq&amp;menu=yes" target="_blank" rei="nofollow" class="qq"> <span class="tinicon-qq"><i class="fa fa-qq"></i></span> <br />QQ </a> </span> 
        <span class="footer-rss-link"> <a href="http://www.iydu.net/feed" target="_blank" class="rss"> <span class="tinicon-rss"><i class="fa fa-rss"></i></span> <br />RSS </a> </span> 
       </div> 
       <!-- /.links --> 
       <div class="clear clr"></div> 
      </div> 
     </div> 
    </footer> 
    <script type="text/javascript">
	$('.site_loading').animate({'width':'90%'},50);  //第四个节点
</script> 
   </section>
  </div>  
  <div id="sign" class="sign"> 
   <div class="part loginPart"> 
    <form id="login" action="http://www.iydu.net/wp-login.php" method="post" novalidate="novalidate"> 
     <h3>登录<p class="status"></p></h3> 
     <p> <label class="icon" for="username"><i class="fa fa-user"></i></label> <input class="input-control" id="username" type="text" placeholder="请输入用户名" name="username" required="" aria-required="true" /> </p> 
     <p> <label class="icon" for="password"><i class="fa fa-lock"></i></label> <input class="input-control" id="password" type="password" placeholder="请输入密码" name="password" required="" aria-required="true" /> </p> 
     <p class="safe"> <label class="remembermetext" for="rememberme"><input name="rememberme" type="checkbox" checked="checked" id="rememberme" class="rememberme" value="forever" />记住我的登录</label> <a class="lost" href="http://www.iydu.net/wp-login.php?action=lostpassword">忘记密码 ?</a> </p> 
     <p> <input class="submit" type="submit" value="登录" name="submit" /> </p> 
     <a class="close"><i class="fa fa-times"></i></a> 
     <input type="hidden" id="security" name="security" value="e1b561a7b6" /> 
     <input type="hidden" name="_wp_http_referer" value="/deepreading/talk" /> 
    </form> 
   </div> 
   <div class="part registerPart"> 
    <form id="register" action="http://www.iydu.net/wp-login.php?action=register" method="post" novalidate="novalidate"> 
     <div id="login-active" class="switch">
      <i class="fa fa-toggle-off"></i>切换登录
     </div> 
     <h3>注册<p class="status"></p></h3> 
     <p> <label class="icon" for="user_name"><i class="fa fa-user"></i></label> <input class="input-control" id="user_name" type="text" name="user_name" placeholder="输入英文用户名" required="" aria-required="true" /> </p> 
     <p> <label class="icon" for="user_email"><i class="fa fa-envelope"></i></label> <input class="input-control" id="user_email" type="email" name="user_email" placeholder="输入常用邮箱" required="" aria-required="true" /> </p> 
     <p> <label class="icon" for="user_pass"><i class="fa fa-lock"></i></label> <input class="input-control" id="user_pass" type="password" name="user_pass" placeholder="密码最小长度为6" required="" aria-required="true" /> </p> 
     <p> <label class="icon" for="user_pass2"><i class="fa fa-retweet"></i></label> <input class="input-control" type="password" id="user_pass2" name="user_pass2" placeholder="再次输入密码" required="" aria-required="true" /> </p> 
     <p> <input class="submit" type="submit" value="注册" name="submit" /> </p> 
     <a class="close"><i class="fa fa-times"></i></a> 
     <input type="hidden" id="user_security" name="user_security" value="74efd99220" />
     <input type="hidden" name="_wp_http_referer" value="/deepreading/talk" /> 
    </form> 
   </div> 
  </div>
  <div class="floatbtn"> 
   <!-- Comment --> 
   <!-- /.Comment --> 
   <!-- Share --> 
   <span id="bdshare" class="bdshare_t mobile-hide"><a class="bds_more" href="#" data-cmd="more"><i class="fa fa-share-alt"></i></a></span> 
   <!-- /.Share --> 
   <!-- QR --> 
   <span id="qr" class="mobile-hide"><i class="fa fa-qrcode"></i> 
    <div id="floatbtn-qr"> 
     <div id="floatbtn-qr-msg">
      扫一扫二维码分享
     </div> 
    </div> </span> 
   <!-- /.QR --> 
   <!-- Simplified or Traditional --> 
   <span id="zh-cn-tw" class="mobile-hide"><i><a id="StranLink">繁</a></i></span> 
   <!-- /.Simplified or Traditional --> 
   <!-- Layout Switch --> 
   <!-- /.Layout Switch --> 
   <!-- Back to Home --> 
   <span id="back-to-home" class="mobile-hide"> <a href="http://www.iydu.net"><i class="fa fa-home"></i></a> </span> 
   <!-- /.Back to Home --> 
   <!-- Scroll Top --> 
   <span id="back-to-top"><i class="fa fa-arrow-up"></i></span> 
   <!-- /.Scroll Top --> 
  </div>
  <!-- /.Footer Nav Wrap --> 
  <script type="text/javascript" src="js/zh-cn-tw.js"></script> 
  <script type="text/javascript" src="js/comments-ajax.js"></script> 
  <script type="text/javascript" src="js/ajax-sign-script.min.js"></script> 
 
  <script type="text/javascript">
/* <![CDATA[ */
var ajax_sign_object = {"redirecturl":"http:\/\/www.iydu.net\/deepreading\/talk","ajaxurl":"http:\/\/www.iydu.net\/wp-admin\/admin-ajax.php","loadingmessage":"\u6b63\u5728\u8bf7\u6c42\u4e2d\uff0c\u8bf7\u7a0d\u7b49..."};
/* ]]> */
</script> 
  <script src="js/jquery.prettyPhoto.js"></script> 
  <script type="text/javascript">var defaultEncoding = 0; var translateDelay = 100; var cookieDomain = "http://www.iydu.net";</script> 
 
  <!-- 引入用户自定义代码 --> 
  <!-- 引入主题js --> 
  
  <script type="text/javascript" src="js/theme.js?ver=4.3.6"></script> 
  <!-- /.Footer --> 
  <script type="text/javascript">
	$('.site_loading').animate({'width':'100%'},50);  //第五个节点
</script>  
 </body>
</html>